<div class="dashboard-content">
    <div class="content-header">
        <h1>{{title}}</h1>
        <div class="content-actions">
            {{#actions}}
                <button class="action-button" id="{{id}}">{{label}}</button>
            {{/actions}}
        </div>
    </div>
    <div class="content-body">
        {{#body}}
            {{{body}}}
        {{/body}}
    </div>
</div>