<div class="c-modal" style="min-width: {{minWidth}}px;">
    <div class="c-modal__content">
        <div class="c-modal__header">
            <h2 class="c-modal__title">{{title}}</h2>
            <i class="fas fa-x"></i>
            <button class="c-modal__close" aria-label="{{close}}">x</button>
        </div>
        <div class="c-modal__body">
            {{#content}}
                {{{.}}}
            {{/content}}
        </div>
        <div class="c-modal__footer">
            {{#submit}}
            <button class="c-modal__submit">{{submit}}</button>
            {{/submit}}
        </div>
    </div>
</div>