<div class="scrollbar-container">
    {{#categories}}
    <div class="scrollbar-item">
        <div class="scrollbar-item-image">
            <img src="{{image}}" alt="{{title}}">
        </div>
        <div class="scrollbar-item-title">
            {{title}}
        </div>
        <div class="scrollbar-item-description">
            {{description}}
        </div>
    </div>
    {{/categories}}
</div>