<footer class="footer">
  <p>&copy; {{year}} {{companyName}}. All rights reserved.</p>
  <ul class="social-links">
    <a href="https://status.mmr-development.dk/status/mmr-delivery" target="_blank">Status</a>
  </ul>
</footer>