<footer class="footer">
  <p>&copy; {{year}} {{companyName}}. All rights reserved.</p>
  <ul class="social-links">
    {{#socials}}
      <li>
        <a href="{{url}}" target="_blank">{{platform}}</a>
      </li>
    {{/socials}}
  </ul>
</footer>