<form class="form" action="{{action}}" method="{{method}}" 
style="{{#width}}width: {{width}};{{/width}}{{#margin}}margin: {{margin}};{{/margin}}{{#max_width}}max-width: {{max_width}};{{/max_width}}"
>
  <h2>{{title}}</h2>
  {{#description}}
    <p>{{description}}</p>
  {{/description}}
  <div class="form-content">
    {{#fields}}
      <div class="form-group">
        <label for="{{id}}">{{label}}</label>
        {{#select}}
          <select id="{{id}}" name="{{name}}">
           <option value="" disabled selected>{{placeholder}}
            {{#options}}
              <option value="{{value}}" >{{text}}</option>
            {{/options}}
          </select>
        {{/select}}
        {{^select}}
          {{#checkbox}}
            <div class="checkbox-group">
              {{#options}}
                <label>
                  <input type="checkbox" id="{{id}}" name="{{name}}" value="{{value}}">
                  {{text}}
                </label>
              {{/options}}
            </div>
          {{/checkbox}}
          {{^checkbox}}
            <input type="{{type}}" id="{{id}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}">
          {{/checkbox}}
        {{/select}}
        {{#autocomplete}}
          <div class="autocomplete-suggestions"></div>
        {{/autocomplete}}
        {{^autocomplete}}
        {{/autocomplete}}
        {{#error}}
          <span class="error">{{error}}</span>
        {{/error}}
      </div>
    {{/fields}}
  </div>
  {{#submitText}}
    <button class="form-submit-btn" type="submit">{{submitText}}</button>
  {{/submitText}}
</form>