<div class="restaurants-list">
    {{#restaurnat-lists}}
     <h2>{{restaunrat-list-name}}</h2>
       {{#restaurants}}
        <div class="restaurants-item" data-id="{{id}}">
            <div class="restaurants-image">
                <img src="{{image}}" alt="{{name}}">
            </div>
            <div class="restaurants-details">
                <h3>{{name}}</h3>
                <div>
                    <p>Rating: {{rating}}</p>
                    <p>Top picks: {{top-picks}}</p>
                </div>
                <div>
                    <p><i class="fas fa-clock"></i> {{estimated-delivery-time}}</p>
                    <p><i class="fas fa-dollar-sign"></i> {{delivery-fee}}</p>
                    <p><i class="fas fa-shopping-cart"></i> min: {{minimum-order}}</p>
                </div>
            </div>
        </div>
       {{/restaurants}}
    {{/restaurnat-lists}}
</div>