<div class="restaurants-list">
    {{#restaurant_lists}}
     <h2>{{restaurant_list_name}}</h2>
       {{#restaurants}}
        <div class="restaurants-item" data-id="{{id}}" data-is-open="{{is_open}}" data-created-at="{{created_at}}">
            <div class="restaurants-image" style="position: relative;">
                <img src="{{banner}}" alt="{{name}}" class="restaurant-banner"/>
                <img src="{{logo}}" alt="{{name}} logo" class="restaurant-logo"/>
            </div>
            <div class="restaurants-details">
                <h3 class="restaurant-name">{{name}}</h3>
                <div>
                    <p>Top picks: {{top_picks}}</p>
                </div>
                <div>
                    <p><i class="fas fa-clock"></i> {{estimated_delivery_time}} </p>
                    <p><i class="fas fa-dollar-sign"></i> {{delivery_fee}} </p>
                    <p><i class="fas fa-shopping-cart"></i> min: {{minimum_order}} </p>
                </div>
            </div>
        </div>
       {{/restaurants}}
    {{/restaurant_lists}}
</div>