<div class="c-modal">
  <div class="c-modal__content">
    <div class="c-modal__header">
      <h2 class="c-modal__title">User Details</h2>
      <button class="c-modal__close" aria-label="Close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="c-modal__body">
      <nav class="user-info-nav">
        <ul>
          <li>
            <button class="user-info-link" id="user-orders">
              <i class="fa fa-receipt"></i>
              Orders
            </button>
          </li>
          <li>
            <button class="user-info-link" id="user-info">
              <i class="fa fa-user"></i>
              User Info
            </button>
          </li>
          <li>
            <button class="user-info-link" id="user-settings">
              <i class="fa fa-info-circle"></i>
              Details
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>