{{#search}}
<div class="custom-table-search">
    <input type="text" id="search-input" placeholder="{{searchPlaceholder}}" />
    <button id="search-button">Search</button>
    <button id="clear-search-button">Clear</button>
</div>
{{/search}}
{{#select}}
<div class="custom-table-select">
    <select id="custom-select" class="custom-select">
        {{#options}}
        <option value="{{value}}" {{#selected}} selected="{{selected}}" {{/selected}}>{{label}}</option>
        {{/options}}
    </select>
</div>
{{/select}}
<div class="create-schedule-button">
    <button id="create-schedule" class="btn btn-primary">Create New Schedule</button>
</div>
{{#data}}
<button id="previous-week" class="btn btn-secondary">Previous</button>
<button id="next-week" class="btn btn-secondary">Next</button>
<div class="schedule-planner-table">
    {{#days}}
        <div class="content">
            <div class="planner-day">
                <span class="planner-date">{{date}}</span>
                <span class="planner-day-name">{{wekkdayname}}</span>
            </div>
            {{#schedules}}
            <div class="planner-event">
                <span class="planner-note">{{note}}</span>
                <span class="planner-status {{status}}">{{status}}</span>
                <span class="planner-time">{{start_human}} - {{end_human}}</span>
            </div>
            {{/schedules}}
            {{^schedules}}
                <span class="planner-no-events">No schedules available</span>
            {{/schedules}}
        </div>
    {{/days}}
</div>
{{/data}}
{{^data}}
<div class="no-data">
    <p>No data available</p>
</div>
{{/data}}
{{#pagination}}
<div class="pagination" id="{{paginationContainer}}">
</div>
{{/pagination}}
<div id="c-modal" class="c-modal"><div>