<div class="restaurant-detail-header">
    <img src="{{banner}}" alt="{{name}}" class="restaurant-image" />
    <img src="{{logo}}" alt="{{name}}" class="restaurant-logo" />
</div>
<div class="restaurant-detail-body">  
    <h2 class="restaurant-full-name">{{name}}
        {{#smiley}}
        <a href="{{smiley_url}}"><img src="{{smiley_img}}"/></a>
        {{/smiley}}
    </h2>
    <div class="restaurant-info">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </div>
    <div id="restaurant-searchbar"></div>
    <div id="restaurant-menu"></div>
</div>