<div class="contact-form">
    <h3 class="contact-form__title">{{title}}</h3>
    <div class="contact-form__content c-form-content">
        <div class="contact-form__input-group c-form-group">
            <label for="street">{{street}}</label>
            <input type="text" id="street" name="street" placeholder="{{street}}" required>
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="postalcode">{{postalcode}}</label>
            <input type="text" id="postalcode" name="postalcode" placeholder="{{postalcode}}" required>
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="city">{{city}}</label>
            <input type="text" id="city" name="city" placeholder="{{city}}" required>
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="contactoption">{{contactoption}} (optional)</label>
            <input type="text" id="contactoption" name="contactoption" placeholder="{{contactoption}}">
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="etage">{{floor}} (optional)</label>
            <input type="text" id="floor" name="floor" placeholder="{{floor}}">
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="aptname">{{aptname}} (optional)</label>
            <input type="text" id="aptname" name="aptname" placeholder="{{aptname}}">
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="companyname">{{companyname}} (optional)</label>
            <input type="text" id="companyname" name="companyname" placeholder="companyname">
        </div>
    </div>
    <h3 class="contact-form__title">{{personalDataText}}</h3>
    <div class="contact-form__personal-data c-form-content">
        <div class="contact-form__input-group c-form-group">
            <label for="fullname">{{fullname}}</label>
            <input type="text" id="fullname" name="fullname" placeholder="fullname" required>
        </div>
        <div class="contact-form__input-group c-form-group">
            <label for="phonenumber">{{phonenumber}}</label>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="{{phonenumber}}" required>
        </div>
    </div>
</div>
<div class="contact-form row" id="deliverytimeform">
    <h3 class="contact-form__title">{{deliveryTimeTitle}}</h3>
    <div class="contact-form__content c-form-content">
        <div class="contact-form__input-group c-form-group">
            <label for="deliveryoption" id="deliverytimeform-final">{{deliveryoption}}</label>
        </div>
        <label> <i class="fas fa-arrow-right"></i></label>
    </div>
</div>
<div class="contact-form row" id="deliverynoteform">
    <h3 class="contact-form__title">{{deliveryNoteTitle}}</h3>
    <div class="contact-form__content c-form-content">
        <div class="contact-form__input-group c-form-group">
            <label for="deliverynote" id="deliverynoteform-final">{{deliveryNote}}</label>
        </div>
        <label> <i class="fas fa-arrow-right"></i> </label>
    </div>
</div>
<div class="contact-form row" id="deliverytipform">
    <h3 class="contact-form__title">{{deliveryTipTitle}}</h3>
    <div class="contact-form__content c-form-content">
        <div class="contact-form__input-group c-form-group tipform">
        {{#deliveryTipOptions}}
            <label class="predefinedTips" data-value="{{value}}">{{text}}</label>
        {{/deliveryTipOptions}}
            <label id="customTipOption">Custom <span id="deliverytipform-final"></label></label>
        </div>
    </div>
</div>
<div class="contact-form row" id="paymentmethodform">
    <h3 class="contact-form__title">{{paymentTitle}}</h3>
    <div class="contact-form__content c-form-content">
        <div class="contact-form__input-group c-form-group">
            <label for="deliverynote" id="paymentmethod-final">Select a payment method</label>
        </div>
        <label>
            <i class="fas fa-arrow-right"></i> <!-- FontAwesome arrow right icon -->
        </label>
    </div>
</div>
<div id="c-modal"></div>