{{#paymentOptions}}
    <div class="payment-method" data-value="{{value}}">
        <h1 class="payment-method__title">{{text}}</h1>
        <div class="payment-method__image">
            <img src="{{logo}}" alt="{{text}}">
        </div>
    </div>
{{/paymentOptions}}