@use '../variables' as vars;
@use '../mixins' as mixins;

// layout of the content
.content {
  width: 80%; // Set the width to 80% of the parent/container
  max-width: 1200px; // Optional: Limit the maximum width for larger screens
  margin: auto; // Center horizontally
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: vars.$spacing;

  .content-header {
    font-size: vars.$font-size-large;
    font-weight: bold;
    margin-bottom: vars.$spacing;
  }

  .content-body {
    background-color: vars.$background;
    border-radius: vars.$border-radius;
    padding: vars.$spacing;
    box-shadow: vars.$box-shadow;

    @include mixins.card-style;

    p {
      margin-bottom: vars.$spacing;
      font-size: vars.$font-size-medium;
    }
  }
}