@use '../_variables' as vars;

.become-a-courier-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: auto;

    #become-a-courier-form {
        width: calc(vars.$window-size-small);
        height: auto;
        margin-top: 50px;
    }
}