@use '../_variables' as vars;

#categoryscrollbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: vars.$text-color;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 4px;
    background-color: vars.$background;
    padding: 1rem 0;

    .scrollbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100%);
        max-width: vars.$window-size-large;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        .scrollbar-item {
            height: 100%;
            width: 100px;
            margin: 0 10px;
            padding: 5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: vars.$background;
            transition: transform 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }

            .scrollbar-item-image {
                width: 100px;
                height: 70px;
                border-radius: 50%;
                background-color: vars.$background;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }

            .scrollbar-item-title {
                font-size: 16px;
                font-weight: 500;
                color: vars.$text-color;
                text-align: center;
                margin-top: 5px;
            }

            .scrollbar-item-description {
                font-size: 12px;
                font-weight: 400;
                color: vars.$text-color;
                text-align: center;
            }
        }
    }
}

#restaurants-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 1200px;
    width: 100%;

    .restaurants-sidebar {
        width: 350px;
        padding: 1rem;

        .option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            background-color: vars.$background;
            color: vars.$text-color;
            font-size: 16px;
            font-weight: 500;
            border-radius: 10px;
            margin-bottom: 10px;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: vars.$background-light;
            }
        }
        .input-form {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 1.5rem;

            label {
                font-size: 2rem;
                font-weight: 700;
                color: vars.$text-color;
                margin-bottom: 0.25rem;
            }

            .restaurant-form {
                display: flex;
                gap: 0.5rem;

                input[type="text"] {
                    flex: 1;
                    padding: 0.5rem 1rem;
                    border: 1px solid vars.$border-color;
                    border-radius: 8px;
                    font-size: 1rem;
                    color: vars.$text-color;
                    background-color: vars.$background-light;
                    transition: border-color 0.2s;

                    &:focus {
                        outline: none;
                        border-color: vars.$primary-color;
                    }
                }

                button {
                    padding: 0.5rem 1.2rem;
                    background-color: vars.$primary-color;
                    color: #fff;
                    border: none;
                    border-radius: 8px;
                    font-size: 1rem;
                    font-weight: 500;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: darken(vars.$primary-color, 7%);
                    }
                }
            }
        }
    }

    .restaurants-list {
        flex: 1;
        padding: 1rem;

        .restaurants-list {
            display: flex;
            flex-direction: column;

            .restaurants-item {
                display: flex;
                flex-direction: row;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 15px;
                margin-bottom: 20px;
                height: auto;
                align-items: center;
                max-height: 204px;
                overflow: hidden;

                .restaurants-image {
                    min-height: 100%;
                    max-height: 150px;
                    aspect-ratio: 1.25 / 1;
                    border-radius: 15px 0 0 15px;
                    background-color: vars.$background-light;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .restaurant-banner {
                        width: 100%;
                        height: 100%;
                        border-radius: 15px 0 0 15px;
                        object-fit: cover;
                    }
                    .restaurant-logo {
                        width: 80px;
                        height: 80px;
                        border-radius: vars.$border-radius;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        background-color: vars.$background-light;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .restaurants-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-top: 10px;
                    padding: 10px;
                    flex: 1;

                    h3 {
                        padding: 0;
                        margin: 0;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        padding: 0;

                        p {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    #restaurants-container {
        flex-direction: column;
        width: 100%;
        padding: 10px 20px;

        .restaurants-sidebar {
            width: calc(100%);
            padding: 0px;
        }

        #restaurants-list {
            width: 100%;
            padding: 0;

            .restaurants-list {
                padding: 0;
                .restaurants-item {
                    flex-direction: row;
                    height: auto !important;
                    max-height: 200px;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
    
                    .restaurants-image {
                        min-height: 100%;
                        max-height: 200px;
                        aspect-ratio: 1 / 1 !important;
                        border-radius: 15px !important;
                    }
    
                    .restaurants-details {
                        width: 100%;
                        border-radius: 0 0 15px 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #restaurants-container {
        #restaurants-list {
            .restaurants-list {
                .restaurants-item {
                    padding: auto;
                    max-height: none;
    
                    .restaurants-image {
                        display: none !important;
                    }
                }
            }
        }
    }
}