<div class="sidebar-content-wrapper">
    <div class="sidebar-header">
        <h2>Basket</h2>
    </div>
    <div class="toggle-delivery-option">
        <input type="checkbox" id="toggle-checkbox">
        <label for="toggle-checkbox" class="toggle-label">
            <span class="toggle-option">Delivery</span>
            <span class="toggle-option">Pickup</span>
            <span class="toggle-overlay"></span>
        </label>
    </div>
    <div class="restaurant-order-details" id="basket"></div>
</div>
<button class="toggle-button" id="sidebar-toggle-button"></button>
