
{{#categories}}
<div class="menu-category">
    <h3>{{name}}</h3>
    {{#items}}
    <div class="menu-item" data-id="{{id}}">
        <div class="menu-item-content">
            <h4>{{name}}</h4>
            <p class="menu-item-price">{{price}} €</p>
            <p>{{description}}</p>
        </div>
        {{#image}}
        <div class="menu-item-image">
            <img src="{{image}}" alt="{{name}}" class="menu-item-img" />
        </div>
        {{/image}}
    </div>
    {{/items}}
</div>
{{/categories}}
