<div class="search-bar">
    <div class="search-bar-input">
        <input type="text" placeholder="Search for food, restaurants, or cuisines" id="search-input" />
        <button id="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="search-categories">
        {{#categories}}
        <div class="search-category" data-value="{{value}}">{{name}}</div>
        {{/categories}}
    </div>
</div>