@use '_variables' as vars;
@use '_mixins' as mixins;

@use 'layouts/header';
@use 'layouts/footer';
@use 'layouts/content';

@use 'pages/home';
@use 'pages/about';
@use 'pages/contact';
@use 'pages/login';
@use 'pages/restaurants';
@use 'pages/restaurant-detail';
@use 'pages/checkout';
@use 'pages/await-confirmation.scss';
@use 'pages/checkout-order-confirm';
@use 'pages/become-a-partner';
@use 'pages/become-a-courier';
@use 'pages/thank-you';
@use 'pages/dashboard.scss';

@use 'components/button';
@use 'components/card';
@use 'components/form';
@use 'components/modal';
@use 'components/table';
@use 'components/tooltip';
@use 'components/slider';
@use 'components/sidebar';
@use 'components/basket';

.pointer {
    cursor: pointer;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  opacity: 0.8;
  pointer-events: none;
  will-change: transform;
  border-radius: 50%;
}

.loading-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 50px;
  height: 50px;
  border: 5px solid vars.$accent-color;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

body {
    background-color: vars.$background;
    color: vars.$text-color;
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 950px) {
  body.no-scroll {
      overflow: hidden;
  }
}
  
a {
  color: vars.$accent-color;
  text-decoration: none;

  &:hover {
    color: scale(vars.$accent-color, black, -10%);
  }
  
} 

// Default container styling
.container {
  max-width: vars.$window-size-large;
  margin: auto; // Center the container
  padding: 20px; // Add some padding
  box-sizing: border-box; // Include padding in width calculation
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}